html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.main {
  position: relative;
  height: 100vh;
  background: #ffdfdf;
}
.main__welcome.active {
  display: flex;
}
.main__welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 60rem;
  height: 80vh;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
}
.main__welcome__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  height: 40vh;
}
.main__welcome__intro__label {
  position: relative;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}
.main__welcome__intro__input {
  padding: 0.5rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: solid 2px;
}
.main__welcome__intro__message {
  font-size: 4rem;
  text-align: center;
}
.main__welcome__intro__message__username {
  font-weight: bold;
}
.main__welcome__btn {
  position: relative;
  border: none;
  width: 25rem;
  height: 4rem;
  border-radius: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  background: #005281;
}
.main__welcome__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  width: 25rem;
  height: 4rem;
  border-radius: 1.5rem;
  background: #007dc5;
  transition: transform 0.3s ease-out;
}
.main__welcome__btn__text {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.main__welcome__btn:hover::before {
  transform: scale(1);
}
.main__game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 80rem;
  height: 90vh;
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
@media only screen and (min-width: 768px) {
  .main__game {
    flex-direction: row;
  }
}
.main__game__player:first-of-type {
  background: #dadafd;
}
.main__game__player:last-of-type {
  background: #ffcdcd;
}
.main__game__player {
  flex: 1 1 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px gray;
}
.main__game__player__title {
  flex: 1;
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.main__game__player__hands {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__game__player__hands__hand.active {
  background: #8989ff;
  transform: scale(1.1);
}
.main__game__player__hands__hand.pc {
  background: #f88c8c;
}
.main__game__player__hands__hand {
  display: block;
  font-size: 5rem;
  background: #fff;
  border-radius: 50%;
  margin: 0 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 3px #000;
  transition: all 0.3s ease-in-out;
  transform: scale(1) translate(0);
  outline: none;
  cursor: pointer;
}
.main__game__player__score {
  flex: 1;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main__game__player__score__text {
  display: block;
  font-size: 2.5rem;
}
.main__game__player__score__value {
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
.main__restart.active {
  display: flex;
  transform: scale(1) translate(-50%, -50%);
}
.main__restart {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: scale(0.2) translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50rem;
  height: 30rem;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 2px 2px 10px #000;
  border-radius: 1rem;
  transition: transform 0.3s ease-out;
}
.main__restart__result {
  font-size: 5rem;
  letter-spacing: 0.1rem;
}