@import "defaults";
@import "mixins";

.main {
  height: 100vh;
  background: rgb(255, 223, 223);
  position: relative;

  &__welcome.active {
    display: flex;
  }

  &__welcome {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    max-width: 60rem;
    height: 80vh;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
      
    &__intro {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .5rem;
      height: 40vh;

      &__label {
        position: relative;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
      }

      &__input {
        padding: .5rem;
        border: none;
        outline: none;
        text-align: center;
        font-size: 2.5rem;
        border-bottom: solid 2px;
      }

      &__message {
        font-size: 4rem;
        text-align: center;

        &__username {
          font-weight: bold;
        }
      }
    }

    &__btn {
      position: relative;
      border: none;
      width: 25rem;
      height: 4rem;
      border-radius: 1.5rem;
      cursor: pointer;
      overflow: hidden;
      background: rgb(0, 82, 129);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
        width: 25rem;
        height: 4rem;
        border-radius: 1.5rem;
        background: rgb(0, 125, 197);
        transition: transform .3s ease-out;
      }

      &__text {
        position: relative;
        z-index: 1;
        font-size: 2rem;
        color: #fff;
        text-shadow: 1px 1px 3px #000;
      }

      &:hover::before {
        transform: scale(1);
      }
    }
  }

  &__game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 80rem;
    height: 90vh;
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;

    @include mq(768px) {
      flex-direction: row;
    }

    &__player:first-of-type {
      background: rgb(218, 218, 253);
    }

    &__player:last-of-type {
      background: rgb(255, 205, 205);
    }

    &__player {
      flex: 1 1 40rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      box-shadow: 1px 1px 2px gray;

      &__title {
        flex: 1;
        font-size: 3.5rem;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 3px #000;
      }

      &__hands {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        &__hand {
          display: block;
          font-size: 5rem;
          background: #fff;
          border-radius: 50%;
          margin: 0 1rem;
          padding: 1rem;
          text-align: center;
          box-shadow: 0 0 3px #000;
          transition: transform .3s ease-in-out;

          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }

      &__score {
        flex: 1;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &__text {
          display: block;
          font-size: 2.5rem;
        }

        &__value {
          display: block;
          font-size: 3.5rem;
          font-weight: bold;
          color: #fff;
          text-shadow: 1px 1px 3px #000;
        }
      }
    }
  }
}